#cookie-directive {
    position: fixed;
    bottom: 0px;
    padding: 20px 30px;
    color: #fff;
    opacity: 0.75;
    background-color: #000;
}

#cookie-directive:after {
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}

#cookie-directive a {
    color: #EDB307;
    font-weight: bold;
}


#cookie-directive-footer a {
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    background: url('../images/yes_.png') center center no-repeat transparent;
    display: block;
    margin-left: 30px;
    float: right;
    cursor: pointer;
}

#cookie-directive-footer a#cookie-directive-no {
    background-image: url('../images/no_.png');
    margin-left: 0px;
}

#cookie-directive p {
    line-height: 20px;
    font-size: 13px;
    margin: 5px 0px;
}

#cookie-directive-fail {
    position:fixed;
    top:0px;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity:0.75;
    color: #fff;
}

#cookie-directive-fail h2{
    color: #FFFFFF;
    font-size: 8em;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

#cookie-directive-fail p {
    font-size: 16px;
    text-align: center;
}

#cookie-directive-fail a {
    font-weight: bold;
}